DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzM1MDBlNWZmMTFhNjk2MDQ3YjU4NGY5NWJmODUzZjViZjcwZjcxOGJiNmM5YmRjMWE4YTY1ZmYxNWNiZmI0ZjUiLCJhcHBJZCI6InF0d3Q5eHMxa24iLCJyZWdpb25zIjpbInNlYTEiXX0='
